body {
margin:10%;
background-color: rgb(255,20,147);
}
h1 {
color: rgb(0, 0, 0);
font-family:Sans Serif;
}
img{
float:right;
padding: 2%;
}
p {
font-size:10pt;
colora: #abc;
text-align:justify;
}
hr
{
height: 3px;
Background-colour: rgb(0, 85, 171)
border: 1px;
